DATABASE_URL=

JWT_SECRET=
JWT_EXPIRATION=15
ACCSESS_TOKEN_NAME = access_token

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRATION=10080
REFRESH_TOKEN_NAME = refresh_token

REVALIDATE_SECRET = 

PAYMENT_ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://api.fillando.com/auth/google/callback

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-north-1
AWS_S3_BUCKET_NAME=fillando
AWS_S3_PUBLIC_URL=https://fillando.s3.eu-north-1.amazonaws.com

RESEND_API_KEY=
NOVA_POS_API_KEY=


PASSWORD_PEPPER=
FRONTEND_URL=https://fillando.com
PUBLIC_API_URL=https://api.fillando.com
PORT=4000

NODE_ENV=production   # або production
LOG_LEVEL=info        # trace | debug | info | warn | error | fatal

ALLOW_EMAIL_SENDING=true
SERVICE_EMAIL=

PROM_API_KEY=
RUN_CRON=true